[submodule "switch-window"]
	path = switch-window
	url = git@github.com:golden1232004/switch-window.git
[submodule "cedet"]
	path = cedet
	url = git@github.com:golden1232004/cedet.git
[submodule "chinese-pyim"]
	path = chinese-pyim
	url = git@github.com:golden1232004/chinese-pyim.git
